
<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/primerDivGeneral.ejs') %>


        <hr id="separador">

        <br>

        <div class="row">
            <div class="col-12">
                <h1 class="TuBolso">Ingresa tus Datos</h1>
            </div>
        </div>
<br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 mx-auto bg-light pt-2 ">
                    <div class="signup-form">
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido" required="required">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Confirmar contraseña" required="required">
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                            </div>
                        </form>
                    </div>
                </div>                        
            </div>
        </div>

        <div class="text-center my-3">Ya tengo una cuenta? <a href="/login">Inicia sesión</a></div>
    </div>
  


</form>
<br>
<br>

        <div class="container-fluid">

        <%- include('../partials/footer.ejs') %>

        </div>

</div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>