


<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>

<body>


    <%- include('../partials/primerDivGeneral.ejs') %>

    <div class="container-fluid">

        <!-- Parte superior -->



        <hr id="separador">
        <br>
        <div class="row">
            <div class="col-12">
                <h1 class="TuBolso">Publica Tu Anuncio!!</h1>
            </div>
        </div>
        <br>
        <br>



        <form action="" method="POST">
            
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationServer01">Marca (*)</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value="Marca" required="required">
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationServer02">Modelo</label>
                <input type="text" class="form-control is-valid" id="validationServer02" value="Modelo" required>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationServer03">Material</label>
                <input type="text" class="form-control is-valid" id="validationServer03" value="Material" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer04">Temporada (*)</label>
                <select class="custom-select is-valid" id="validationServer04" required="required">
                  <option selected disabled value="">Temporada</option>
                  <option>Invierno</option>
                  <option>Verano</option>
                  <option>Otoño</option>
                  <option>Primavera</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer05">Genero (*)</label>
                <select class="custom-select is-valid" id="validationServer04" required="required">
                    <option selected disabled value="">Genero</option>
                    <option>Femenino</option>
                    <option>Masculino</option>
                  </select>
              </div>
            </div>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer05">Talle (*)</label>
                    <select class="custom-select is-valid" id="validationServer04" required="required">
                        <option selected disabled value="">Talle</option>
                        <option>L</option>
                        <option>M</option>
                        <option>S</option>
                      </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer05">Color (*)</label>
                    <select class="custom-select is-valid" id="validationServer04" required="required">
                        <option selected disabled value="">Color</option>
                        <option>Amarillo</option>
                        <option>Rojo</option>
                        <option>Azul</option>
                      </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer05">Precio (*)</label>
                    <input type="number" class="form-control is-valid" id="validationServer02" value="Precio" required="required">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer05">Cantidad (*)</label>
                    <input type="number" class="form-control is-valid" id="validationServer02" value="Cantidad" required="required">
                </div>
            </div>


            <div class="form-row">
                <div class="col-12">
                  <label for="validationServer01">Resumen (*)</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" value="Resumen" required="required">
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-12">
                  <label for="validationServer01">Descripcion</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" value="Descripcion" required>
                </div>
            </div>
            <br>

            <div class="form-row">
            <label for="validationServer01">Carga Imagen</label>
            <input class="" type="file" placeholder="seleccionar imagen">
            </div>
            <br>

            <p >(*) campos obligatorios</p>

            <br>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                  Aceptas las condiciones?
                </label>
              </div>
            </div>
            <br>

            <div class="row">
                <div class="col-12">
                    <button  type="button" class="btn btn-primary buttonFormulario">Agregar Anuncio</button>
                    <button  type="button" class="btn btn-primary buttonFormulario">Guardar Cambios</button>
                    <button  type="button" class="btn btn-primary buttonFormulario">Eliminar Anuncio</button>
                </div>
            </div>
            <br>
          </form>
        <br>
        
        <br>
        <%- include('../partials/footer.ejs') %>

    </div>


    <%- include('../partials/scriptBootstrap.ejs') %>

</body>
</html>