
<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/primerDivGeneral.ejs') %>


        <hr id="separador">

        <br>

        <div class="row">
            <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank"></form>
                <div class="col-lg-2 col-md-1"></div>          
        
                <div class="col-8">
                    <h5>Ingresa tus Datos</h5>
                    <br>
                    <section class="container formulario">
                        <br>
                        <p class="nombre" id="datos">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre-usuario" id="nombre">
                        </p>
                        <p class="apellido" id="datos">
                            <label for="apellido">Apellido:</label>
                            <input type="text" name="apellido-usuario" id="apellido">
                        </p>
                        <p class="email" id="datos">
                            <label for="email">Email:</label>
                            <input type="email" name="mail" id="email">
                        </p>
                            <p class="contraseña" id="datos">
                            <label for="contraseña">Contraseña:</label>
                            <input type="password" name="contraseña" id="contraseña">
                        </p>
                        <p class="contraseña" id="datos" >
                            <label for="contraseña">Confirmar contraseña:</label>
                            <input type="password" name="contraseña">
                        </p>
                        <br>
                    </section>
                    <div class="text-center my-3">Ya tengo una cuenta? <a href="/home">Inicia sesión</a></div>
                </div>
              
                <div class="col-lg-2 col-md-1"></div>

            </div>

            <br>

            <div class="row">
                <div class="col-8">
                    <div></div>
                </div>
                <div class="col-4 botton-1">
                    <div><button type="button" class="btn btn-primary">Crear Cuenta</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <br>
    
        <div class="row" class="footer">
            <div class="col">
              <footer>
                <h6 class="footereando">DATOS</h6>
                <h6 class="footereando">LEGLES</h6>
                <h6 class="footereando">CONTACTOS</h6>
                <h6 class="footereando">PREGUNTAS FRECUENTES</h6>
                <h6 class="footereando">AYUDA</h6>
                <h6 class="footereando">TRABAJA CON NOSOTROS</h6>
              </footer>
            </div>
        </div>



    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>