/* 
.icono{
    width: 1.5rem;
}

.icono2{
    width: 1rem;
}

.logo{
    width: 5rem;
    height: 5rem;
}

.bg-darkorange{
    background-color: #CE543A;
    height: 2rem;
}

.enlinea{
    display: inline;
}

.marginli{
    margin: 0 !important;
}

.fuenteform{
    font-size: 0.8rem;
}

.fuenteformtit{
    font-size: 1.6rem;
}

.fuenteformsub{
    font-size: 1.3rem;
}

 @media (min-width: 768px){
    .logo{
        width: 8rem;
        height: 8rem;
    }

    .letrali{
        font-size: small;
    }

    .fuenteform{
        font-size: 1rem;
    }

    .fuenteformtit{
        font-size: 2rem;
    }

    .fuenteformsub{
        font-size: 1.5rem;
    }
 }

 @media (min-width: 992px){
    .icono{
        width: 2rem;
    }

    .logo{
        width: 9rem;
        height: 9rem;
    }

    .bg-darkorange{
        background-color: #CE543A;
    }

    .enlinea{
        display: inline;
    }

    .letrali{
        font-size: initial;
    }
 } */


/* HOME */

body{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo{
    width: 12rem;
    height: 9rem;
background-color: #FFEFBA;  /* fallback for old browsers */;
}

.icono{
    width: 2rem;
}

.flota{
    float: left;
}



.padreFlotador{
    overflow: hidden;
    box-sizing: border-box;
}

.noFlotes{
    clear: both;
}

li{
    list-style: none;
    margin-left: 10px;
}

ul{
    padding: 0px;
}

.tamano{
    font-size: 14px;
}


#separador{
    border-bottom: solid 50px #CE543A ;
    
}


.TamanoImagen{
    width: 1497px;
    height: 354px
}


.ofertasEspeciales{
    text-align: center;
    margin-left: 35px;
    margin-top: 3px;
    width: 94%;
    height: 161px;
    background: #6FCF97;

    border: solid 1px #CE543A ;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* display:none;
    visibility: hidden; */
    }


.colorNavegacion{
    color:black
}

/*.segmentoPadre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}*/

.segmentoHijo{
    border: solid 1px #CE543A ;
    margin-left: 30px;
}*/



.select-css {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 130px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #CE543A ;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }
   .select-css::-ms-expand {
    display: none;
   }
   .select-css:hover {
    border-color: #888;
   }
   .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
   }
   .select-css option {
    font-weight:normal;
   }

   .menuTelefono{
       display: none
   }

   .bloque{
       display: inline-block;
   }

   footer{
       background: grey;
       margin-bottom: 1px;
   }

   .footereando{
       display: inline-block;
       padding:20px;
       font-weight: bold; 
       margin-left: 30px;
   }
   
   .links{
       padding-top: 20px;
   }
   
   .linksredes{
       float: left;
       margin-left: 55px;
   }
   @media (max-width: 750px) {
    #buscador {
      display: none;
    }
    #logo{
        display: none;
    }
    .menuNormal{
        display: none;    
    }
    .menuTelefono{
        display: block
        }
    .descripcion{
        font-size: 10px;
    }

    .linksredes{
        margin-left: 8px;
    }
    .footereando{
        margin-left: 20px;
        font-size: 10px;
        padding: 0%;
        margin-top: 10px;
    }
}

/* @media (min-width: 800px) {
    .menuTelefono{
        display: block
        }
} */




/* col-lg-3 col-md-4 col-sm-6 col-xs-12 */






/* FORM DETALLE PRODUCTO */


.todo{
    margin-left: 35px;
}

.containerProducto{
    height: 80vh;
    border: solid 1px brown;
}
.imagenProducto{
    height: 80vh;
    width: 100%;
    padding: 15px;
}
.descripcionProducto{
    border: solid 1px brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.detalle{
    padding: 30px;
}


.descripcionProducto2{
    margin-left: 100px;
    border: solid 1px brown;
}





.botonesCompraCarrito{
    padding: 20px;
    height: 15vh;
    font-size: 15px;
    margin-left: 850px;
    position: relative;
    margin-top: 15px;
 
 

}*/

.botonCompra{
    width: 130px;
    height: 100px;
    font-size: 15px;
    position: absolute;
}
.botonCarrito{
    width: 130px;
    height: 100px;
    font-size: 15px;
    margin-left: 50px;
    position: absolute;
}
.button2{
    width: 130px;
    height: 60px;
    font-size: 15px;
}
.buttonFormulario{
    width: 150px;
    height: 50px;
    margin-left: 65px;
}



.formularioCarga{
    width: 50%;
    height: 150vh;
    margin-left: 30px;
    padding-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.precio{
    margin-left: 100px;
}

.cargaImagen{
    margin-left: 200px;
}

.caracteristicas{
    padding-left: 400px;

}


@media (max-width: 750px) {  
    .containerProducto{
        height: 80vh;
        width: 100%;
        right: 20px;
    }
    .descripcionProducto{
        right: 20px;
    }
    .imagenProducto{
        height: 80vh;
        width: 100%;
    }
    .botonesCompraCarrito{
        right: 750px;
    }
    .formularioCarga{
        display: inline-block;
    }

}

/*
#imagenFormulario{
    margin-left: 22px;
}
#precioFormulario{
    margin-left: 100px;
}
#tallesFormulario{
    margin-left: 105px;
}
#coloresFormulario{
    margin-left: 105px ;
}
#marcaFormulario{
    margin-left: 100px ;
}
#generoFormulario{
    margin-left: 90px;
}
#modeloFormulario{
    margin-left: 87px ;
}
#materialFormulario{
    margin-left: 83px;
}
#temporadaFormulario{
    margin-left: 62px;
}
*/







/*
.containerProducto{
    padding: 15px;
    height: 80vh;
    display: flex;
    width: 90%;
}

.imagenProducto{
    width: 30%;
    border: solid 1px black;
    padding: 20px;
    height: 100vh;
}





.descripcionProducto{
    float: left;
    width:10%;
}

.descrpcionProducto1{
    padding: 20px;
    padding-top: 50px;
    border: solid 1px black;
    margin-left: 30px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: left;
}

.precio{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 90px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descrpcionProducto2{
    padding: 20px;
    border: solid 1px black;

    height: 20vh;
    background-color: white;
    margin-left: 30px;  
}

#cantidadProducto{
    margin-left: 80px;
    margin-bottom: 30px;
}
*/
