



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargaProducto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container-fluid">

        <!-- Parte superior -->
        <div class="row">
            <div class="col-4" id="logo">
                    <div><img class="logo" src="../img/LOGO.jpg" alt="logo" ></div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5 menuNormal">
                
                    <p class="tamano"><a href="">Redes sociales</a></p>
                    <div class="input-group mb-3" id="buscador">
                        <input type="text" class="form-control" placeholder="Que quieres buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" type="button" id="button-addon2">Button</button>
                        </div>
                      </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                   
                <p class="tamano"><a href="">Telefono</a></p>
                        <ul class="padreflotador tamano">
                            <li class='flota tamano' style="margin-left: 0px"><a class="nav-link colorNavegacion" href="#">Mis Compras</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="#">Favoritos</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="#">Bolsos</a></li>
                        </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-12">

                <div class="menuNormal">
                    <ul class="nav padreFlotador" >
                        <li class='flota tamano colorNavegacion'>
                            <select name="Categorias " class="select-css">
                                <option value="value1">Categorias:</option> 
                                    <option value="value1">Hombre</option> 
                                    <option value="value2">Mujer</option>
                                    <option value="value3">Bebes</option>
                            </select>
                                </li> 
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Ofertas</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Nuevo mujer</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Nuevo Hombres</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Nuevo bebes</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Nuevo accesorio</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Vender</a></li>
                                <li class='flota tamano style="margin-left: 106px '><a class="nav-link colorNavegacion" href="#">Usuario</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <hr id="separador">
        <br>
        <div class="row">
            <div class="col-12">
                <h5 class="TuBolso">Publica Tu Anuncio!!!</h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <div class="formularioCarga">
                    <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">
                        <br>
                        <br>
                        <p id="datos">
                            <label for="nombre">Carga de Imagen:</label>
                            <input id="imagenFormulario" class="cargaImagen" type="file" name="archivosubido"> 
                        </p>
                        <p class="precio" id="datos">
                            <label for="nombre">Precio:</label>
                            <input id="precioFormulario" type="text" name="nombre-usuario">
                        </p>
                        <p class="talles" id="datos">
                            <label for="talles">Talles:</label>
                            <select id="tallesFormulario" name="talle">
                                <option value="value1">Small</option>
                                <option value="value2">Medium</option>
                                <option value="value3">Large</option>
                            </select>
                        </p>
                        <p class="colores" id="datos">
                            <label for="colores">Color:</label>
                            <select id="coloresFormulario" name="color">
                                <option value="value1">Amarillo</option>
                                <option value="value2">Rojo</option>
                                <option value="value3">Azul</option>
                            </select>
                        </p>
                        <br>
                        <br>
                        <br>
                        <h6 class="caracteristicas">Caracteristicas</h6>
                        <br>
                        <br>
                        <p class="marca" id="datos">
                            <label for="nombre">Marca:</label>
                            <input id="marcaFormulario" type="text" name="marca">
                        </p>
                        <br>
                        <p class="genero" id="datos">
                            <label for="genero">Genero:</label>
                            <input id="generoFormulario" type="text" name="genero">
                        </p>
                        <br>
                        <p class="modelo" id="datos">
                            <label for="modelo">Modelo:</label>
                            <input id="modeloFormulario" type="text" name="modelo">
                        </p>
                        <br>
                        <p class="material" id="datos">
                            <label for="material">Material:</label>
                            <input id="materialFormulario" type="text" name="material">
                        </p>
                        <br>
                        <p class="temporada" id="datos">
                            <label for="temporada">Temporada:</label>
                            <select name="color" id="temporadaFormulario">
                                <option value="Inv">Invierno</option>
                                <option value="Ver">Verano</option>
                                <option value="Oto">Otoño</option>
                                <option value="Prim">Primavera</option>
                            </select>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <p class="descripcion" id="datos">
                    <label for="descripcion">Descripcion:</label>
                </p>                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <p class="descripcion" id="datos">
                    <textarea name="marca" class="generotexto" cols="80" rows="20"></textarea>
                </p>                
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <button  type="button" class="btn btn-primary buttonFormulario">Agregar Ahora</button>
                <button  type="button" class="btn btn-primary buttonFormulario">Guardar Cambios</button>
                <button  type="button" class="btn btn-primary buttonFormulario">Eliminar Anuncio</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <div class="row" class="footer">
            <div class="col">
              <footer>
                <h6 class="footereando">DATOS</h6>
                <h6 class="footereando">LEGLES</h6>
                <h6 class="footereando">CONTACTOS</h6>
                <h6 class="footereando">PREGUNTAS FRECUENTES</h6>
                <h6 class="footereando">AYUDA</h6>
                <h6 class="footereando">TRABAJA CON NOSOTROS</h6>
              </footer>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>