


<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/primerDivGeneral.ejs') %>

    <div class="container-fluid">

        <!-- Parte superior -->



        <hr id="separador">
        <br>
        <div class="row">
            <div class="col-12">
                <h1 class="TuBolso">Tu Bolso</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
            <img src="img/ACCESORIOS/accesorios4.jpg" class="producto1" alt="producto1">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div style="display: inline-block" class="descripcionProductoCarrito"><p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugiat dolorem omnis odio vitae quia quod excepturi! Libero, nostrum consequuntur?</p>
                </div>
                <div style="display: inline-block" class="botones">
                <button type="button" class="btn btn-primary button">Comprar</button>
                <br>
                <button type="button" class="btn btn-primary button">Eliminar</button>
                <br>
                <button id="btnGroupDrop1" type="button" class="btn btn-primary button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cantidad </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="#">1</a>
                      <a class="dropdown-item" href="#">2</a>
                      <a class="dropdown-item" href="#">3</a>
                      <a class="dropdown-item" href="#">4</a>
                      <a class="dropdown-item" href="#">5</a>
                      <a class="dropdown-item" href="#">6</a>
                    </div>
                </div>
            </div>            
        </div>
        <br>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-12">
            <img src="img/HOMBRE/hombre5.jpg" class="producto1" alt="producto1">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <div style="display: inline-block" class="descripcionProductoCarrito"><p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugiat dolorem omnis odio vitae quia quod excepturi! Libero, nostrum consequuntur?</p>
                </div>
                <div style="display: inline-block" class="botones">
                <button type="button" class="btn btn-primary button">Comprar</button>
                <br>
                <button type="button" class="btn btn-primary button">Eliminar</button>
                <br>
                <button id="btnGroupDrop1" type="button" class="btn btn-primary button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cantidad </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="#">1</a>
                      <a class="dropdown-item" href="#">2</a>
                      <a class="dropdown-item" href="#">3</a>
                      <a class="dropdown-item" href="#">4</a>
                      <a class="dropdown-item" href="#">5</a>
                      <a class="dropdown-item" href="#">6</a>
                    </div>
                </div>
            </div>            
        </div>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary button2">Comprar Todo</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

    <%- include('./partials/footer.ejs') %>
    
    <%- include('./partials/scriptBootstrap.ejs') %>

</body>
</html>