
<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/primerDivGeneral.ejs') %>
    
    <hr id="separador">

    <div class="container">
        <h1 class="text-center col-12">Favoritos</h1>

        <div class="row">
            <div class="card mb-3">
                <div class="row no-gutters">
                    
                    <div class="col col-md-8">
                        <div class="card-body row">
                            <div class="col-12 order-2 order-md-1 col-md-3 col-lg-2 d-flex align-self-center justify-content-center">
                                <img src="/img/HOMBRE/hombre7.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-12 order-1 order-md-2 col-md-9 col-lg-3 align-self-center">
                                <h5 class="card-title">Campera Running</h5>
                                <h5>$ 1500</h5>    
                            </div>
                            <div class="d-none d-lg-flex order-md-3 col-lg-7 align-self-center">
                                <p class="card-text text-justify">La nueva Campera está hecha para que ni los climas más adversos te detengan a la hora de entrenar. Cuenta con tela tejida elástica y duradera para mayor comodidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 p-0 d-flex align-items-center">
                        <div class="card-body p-0 flex-lg-row flex-column d-flex justify-content-around">
                            <button type="button" class="btn btn-dark">Añadir a Tu Bolso</button>
                            <button type="button" class="btn btn-dark">Comprar</button>
                            <button type="button" class="close btn-sm align-self-center" aria-label="Close">
                                <img src="/img/icons/trash.svg" class="img-fluid icono2" title="Eliminar" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="row no-gutters">
                    
                    <div class="col col-md-8">
                        <div class="card-body row">
                            <div class="col-12 order-2 order-md-1 col-md-3 col-lg-2 d-flex align-self-center justify-content-center">
                                <img src="/img/HOMBRE/hombre7.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-12 order-1 order-md-2 col-md-9 col-lg-3 align-self-center">
                                <h5 class="card-title">Campera Running</h5>
                                <h5>$ 1500</h5>    
                            </div>
                            <div class="d-none d-lg-flex order-md-3 col-lg-7 align-self-center">
                                <p class="card-text text-justify">La nueva Campera está hecha para que ni los climas más adversos te detengan a la hora de entrenar. Cuenta con tela tejida elástica y duradera para mayor comodidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 p-0 d-flex align-items-center">
                        <div class="card-body p-0 flex-lg-row flex-column d-flex justify-content-around">
                            <button type="button" class="btn btn-dark">Añadir a Tu Bolso</button>
                            <button type="button" class="btn btn-dark">Comprar</button>
                            <button type="button" class="close btn-sm align-self-center" aria-label="Close">
                                <img src="/img/icons/trash.svg" class="img-fluid icono2" title="Eliminar" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row no-gutters">
                    
                    <div class="col col-md-8">
                        <div class="card-body row">
                            <div class="col-12 order-2 order-md-1 col-md-3 col-lg-2 d-flex align-self-center justify-content-center">
                                <img src="/img/HOMBRE/hombre7.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-12 order-1 order-md-2 col-md-9 col-lg-3 align-self-center">
                                <h5 class="card-title">Campera Running</h5>
                                <h5>$ 1500</h5>    
                            </div>
                            <div class="d-none d-lg-flex order-md-3 col-lg-7 align-self-center">
                                <p class="card-text text-justify">La nueva Campera está hecha para que ni los climas más adversos te detengan a la hora de entrenar. Cuenta con tela tejida elástica y duradera para mayor comodidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 p-0 d-flex align-items-center">
                        <div class="card-body p-0 flex-lg-row flex-column d-flex justify-content-around">
                            <button type="button" class="btn btn-dark">Añadir a Tu Bolso</button>
                            <button type="button" class="btn btn-dark">Comprar</button>
                            <button type="button" class="close btn-sm align-self-center" aria-label="Close">
                                <img src="/img/icons/trash.svg" class="img-fluid icono2" title="Eliminar" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scriptBootstrap.ejs') %>
</body>
</html>