 <!-- <%- include('./partials/todas') %>
    
    <h1>APLICACIÓN DE NODE!!!</h1>

<% for(let i =0 ; i<platos.length; i++){%>
        <%= platos[i].descripcion %>  <br>

<%}%>
    <h3><%= platos[0].descripcion %></h3>

</body>
</html> -->

<!-- Pongo = para las variables -->

<!-- Accedo a las variables -->

<!-- En el json pongo una referencia a las imagenes.de public y accedo a las imagenes -->