<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>
  
<body>
  <% if(typeof locals.usuario == 'undefined' || locals.usuario.nombre == null) { %>
    <div class="container-fluid welcome text-center">
      <img class="img-fluid my-2 align-self-center" src="/img/logo.png" alt="">
      <h1 class="my-4 align-self-center" style="color: #730019">¡¡¡Bienvenidos!!!</h1>
      <h3 class="my-4 align-self-center" style="color: #B5193A">CompraOnline.com la mejor tienda de ropa deportiva de segunda marca</h3>
    </div>
  <% } %>
  <%- include('./partials/primerDivGeneral.ejs') %>
   
             <hr id="separador">
             
             
             <!-- PARTE SUPERIOR !!!! -->
             <!-- Slider de imagenes -->

             <div class="row">
                 <div class="col">
                    <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active TamanoImagen">
                            <img src="img/banner/2304.jpg" class="d-block w-100 " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="colorfont">Crée en tí</h5>
                              <p class="colorfont">Y todo será posible</p>
                            </div>
                          </div>
                          <div class="carousel-item TamanoImagen">
                            <img src="img/banner/1439.jpg" class="d-block w-100 " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="colorfont">Imposible</h5>
                              <p class="colorfont">No es un hecho, es una OPINION</p>
                            </div>
                          </div>
                          <div class="carousel-item TamanoImagen">
                            <img src="img/banner/46.jpg" class="d-block w-100 " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="colorfont">Levántate cada mañana</h5>
                              <p class="colorfont">y convéncete de que puedes hacerlo.</p>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>

                 </div>
             </div>
             <br>
             <br>
             <!-- Slider fotos. -->
             <div class="row">
                 <!--<div class="col">
                     <div class="ofertasEspeciales mb-4" style="overflow:auto;">
                         <h2>Ofertas solo para los próximos 30 días!!</h2>
                         <br>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita libero maiores, nulla corrupti perferendis animi molestias non? Cumque iure quaerat aspernatur atque fugit explicabo, iste impedit porro, a molestias harum voluptatem distinctio itaque quis doloribus amet architecto nulla, doloremque eaque ipsum officia officiis cum. Dolore quo minus harum. Aperiam, odit.
                     </div>
                 </div>-->
                <div class="col">
                 <div class="jumbotron jumbotron-fluid jumbo">
                  <div class="container">
                    <h1 class="display-5 text-center text-light">¡¡¡Ofertas que solo encontrarás en éste lugar!!!</h1>
                    <p class="lead text-center text-light">Contamos con las mejores marcas, productos de excelente calidad y al mejor Precio</p>
                  </div>
                </div>
              </div>
             </div>


             <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 m-0 mb-4 ">

                  <div class="m-0 px-3">
                    <div class="col card segmentoHijoo p-0 my-2">
                      <img src="img/MUJER/mujer3.jpg" class="card-img-top" alt="...">
                      <div class="card-body d-flex flex-column pb-3">
                        <h5 class="card-title mt-2">MUJER</h5>
                        <p class="card-text text-center">Para que te sientas cómoda con una gran variedad de diseños y talles.</p>
                        <a href="/detalleProducto/categoria/mujer" class="btn btn-dark mt-auto mb-2">Ver Categoria</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="m-0 px-3">
                    <div class="col card segmentoHijoo p-0 my-2">
                      <img src="img/HOMBRE/hombre4.jpg" class="card-img-top" alt="...">
                      <div class="card-body d-flex flex-column pb-3">
                        <h5 class="card-title mt-2">HOMBRE</h5>
                        <p class="card-text text-center">Diseños variados y de materiales super resistentes para un mejor desempeño.</p>
                        <a href="/detalleProducto/categoria/hombre" class="btn btn-dark mt-auto mb-2">Ver Categoria</a>
                      </div>
                    </div>
                  </div>

                  <div class="m-0 px-3">
                    <div class="col card segmentoHijoo p-0 my-2 d-flex align-items-stretch">
                      <img src="img/NENES/nenes2.jpg" class="card-img-top" alt="...">
                      <div class="card-body d-flex flex-column pb-3">
                        <h5 class="card-title mt-2">NENES</h5>
                        <p class="card-text text-center">Todas las opciones para los chicos, hechos a medida y con diseños divertidos.</p>
                        <a href="/detalleProducto/categoria/nene" class="btn btn-dark mt-auto mb-2">Ver Categoria</a>
                      </div>
                    </div>
                  </div>

                  <div class="m-0 px-3">
                    <div class="col card segmentoHijoo p-0 my-2">
                      <img src="img/ACCESORIOS/accesorios1.jpg" class="card-img-top" alt="...">
                      <div class="card-body d-flex flex-column pb-3">
                        <h5 class="card-title mt-2">ACCESORIOS</h5>
                        <p class="card-text text-center">Accesorios de todo tipo para las actividades que más te gusten. Excelente calidad.</p>
                        <a href="/detalleProducto/categoria/accesorios" class="btn btn-dark mt-auto mb-2">Ver Categoria</a>
                      </div>
                    </div>
                  </div>

              </div>
        


    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="/js/welcome.js"></script>

    <%- include('./partials/scriptBootstrap.ejs') %>

</body>
</html>