

<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/primerDivGeneral.ejs') %>

    <hr id="separador">

    <br>
    <div class="row">
        <div class="col-12">
            <h1 class="TuBolso">Iniciar Sesion</h1>
        </div>
    </div>
    <br>

    <div class="container-fluid">
    

    <section class="bg-home pt-15">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto bg-light pt-2 ">
                    <div class="signup-form">
                        <form action="/login2" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
                            </div>

                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        </form>
                        <div class="text-center mb-3"><a href="/altaUsuario">No tenes cuenta?</a></div>
                    </div>
                </div>                        
            </div>
        </div>
    </section>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>

      
  </div>
  
  <%- include('./partials/footer.ejs') %>
  
  <%- include('./partials/scriptBootstrap.ejs') %>


</body>


</html>
