<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/primerDivGeneral.ejs') %>

    <hr id="separador">

    <div class="container">
        <h1 class="text-center col-12">Mis Compras</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col">
                <div class="card border-danger col my-3 mx-md-3 align-self-start align-top">
                    <img src="/img/ACCESORIOS/accesorios7.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Raqueta de Tenis</h5>
                        <p class="card-text text-justify">La raqueta perfecta para jugadores principiantes o recreativos que desean un valor increíble. Esta raqueta también debería funcionar bien para los jóvenes que están listos para dar el salto a su primera raqueta de tamaño adulto.</p>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Fecha de entrega: 29 de Junio</li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Vendedor</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Envío</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles de la Compra</a></li>
                    </ul>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="#" class="btn btn-dark">Seguir el Envío</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-success col my-3 mx-md-3 align-self-start align-top">
                    <img src="/img/HOMBRE/hombre71.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Campera Running</h5>
                        <p class="card-text text-justify">La nueva Campera está hecha para que ni los climas más adversos te detengan a la hora de entrenar. Cuenta con tela tejida elástica y duradera para mayor comodidad.</p>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Entregado el 19 de Junio</li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Vendedor</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Envío</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles de la Compra</a></li>
                    </ul>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="/detalleProducto" class="btn btn-dark">Volver a Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-success col my-3 mx-md-3 align-self-start align-top">
                    <img src="/img/HOMBRE/hombre5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Zapatillas Running</h5>
                        <p class="card-text text-justify">Éstas zapatillas están construidas técnicamente en materiales de alta calidad, para ayudarte a lograr una performance destacada en cada sesión de running.</p>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Entregado el 11 de Junio</li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Vendedor</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles del Envío</a></li>
                        <li class="list-group-item"><a href="#" class="card-link links">Detalles de la Compra</a></li>
                    </ul>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="/detalleProducto" class="btn btn-dark">Volver a Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scriptBootstrap.ejs') %>
</body>
</html>