<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/primerDivGeneral.ejs') %>

    <hr id="separador">

    <div class="container">
        <h1>Mis Compras</h1>
    </div>

    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scriptBootstrap.ejs') %>
</body>
</html>