<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/primerDivGeneral.ejs') %>

    <hr id="separador">

    <div class="row" style="height: 100vh">
        <div class="col-12">
            <h1 class="TuBolso">¡¡¡Tu datos fueron actualizados con éxito!!!</h1>
        </div>
    </div>
  
  <%- include('./partials/footer.ejs') %>
  
  <%- include('./partials/scriptBootstrap.ejs') %>


</body>


</html>
