

             <div class="row">
                <div class="col">
                  <footer>
                    <h6 class="footereando">DATOS</h6>
                    <h6 class="footereando">LEGLES</h6>
                    <h6 class="footereando">CONTACTOS</h6>
                    <h6 class="footereando">PREGUNTAS FRECUENTES</h6>
                    <h6 class="footereando">AYUDA</h6>
                    <h6 class="footereando">TRABAJA CON NOSOTROS</h6>
                  </footer>
 
                </div>
              </div>
 