
<footer class="row">

    <div class="col-3">
          <div class="links">
          <a class="linksredes" href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook"><img src="/img/icons/facebook.svg" class="icono" alt=""></a>
          <a class="linksredes" href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram"><img src="/img/icons/instagram.svg" class="icono" alt=""></a>
          <a class="linksredes" href="https://twitter.com/" role="button" aria-pressed="true" title="Twitter"><img src="/img/icons/twitter.svg" class="icono" alt=""></a>
          </div>
    </div>

      <div class="col-4">
                    <ul class="footereando">
                      <li>DATOS</li>
                      <li>LEGALES</li>
                      <li>CONTACTOS</li>
                    </ul>
      </div>

      <div class="col-5">
        <ul class="footereando">
          <li>PREGUNTAS FRECUENTES</li>
          <li>AYUDA</li>
          <li>TRABAJA CON NOSOTROS</li>
        </ul>
      </div>

</footer>
 