<div class="container-fluid">

    <!--  -->
    <nav class="navbar navbar-expand-lg row">
        <!-- Logo -->
        <div class="col-2 d-flex justify-content-center" id="logo">
            <div><a class="navbar-brand" href="/home"><img class="logo" src="img/LOGO2.jpg" alt="logo" ></a></div>
        </div>

        <div class="col-10">
            <div class="row my-2">
                <!-- Buscador -->
                <div class="col-9">
                    <div class="input-group d-flex align-items-stretch" id="buscador">
                        <input type="text" class="input-group-prepend form-control border-dark" placeholder="Que quieres buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark m-0 p-0 pl-2 pr-2" type="button" id="button-addon2"><img src="/img/icons/search.svg" class="" alt=""></button>
                        </div>
                    </div>
                </div>
                <!-- Redes Sociales -->
                <div class="col-3 d-flex justify-content-around">
                    <a href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook"><img src="/img/icons/facebook.svg" class="icono" alt=""></a>
                    <a href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram"><img src="/img/icons/instagram.svg" class="icono" alt=""></a>
                    <a href="https://twitter.com/" role="button" aria-pressed="true" title="Twitter"><img src="/img/icons/twitter.svg" class="icono" alt=""></a>
                    <a class="btn  bg-darkorange text-light" href="#" role="button">Contactanos</a>
                </div>
            </div>

            <div class="row menuNormal my-2">
                <!-- Categorías -->
                <div class="dropdown col-2 d-flex justify-content-around">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/productos">Mujer</a>
                        <a class="dropdown-item" href="/productos">Hombre</a>
                        <a class="dropdown-item" href="/productos">Nene</a>
                        <a class="dropdown-item" href="/productos">Accesorios</a>
                    </div>
                </div>

                <!-- Nuevos productos -->
                <ul class="nav nav-pills d-flex justify-content-around col-10" >
                    <li class='nav-item'><a class="nav-link colorNavegacion" href="/productos">Nuevo Mujeres</a></li>
                    <li class='nav-item'><a class="nav-link colorNavegacion" href="/productos">Nuevo Hombres</a></li>
                    <li class='nav-item'><a class="nav-link colorNavegacion" href="/productos">Nuevo Nenes</a></li>
                    <li class='nav-item'><a class="nav-link colorNavegacion" href="/productos">Nuevo Accesorios</a></li>
                    <li class='nav-item'><a class="nav-link colorNavegacion" href="/cargaProducto">Vender</a></li>
                </ul>
            </div>

            <!-- Opciones del usuario -->
            <div class="row my-2 mx-0">
                <ul class="nav col-9 d-flex justify-content-around">
                    <li class="nav-item"><a class="nav-link colorNavegacion" href="/misCompras" title="Mis Compras"><img src="/img/icons/history.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-2"> Mis Compras</p></a></li>
                    <li class="nav-item"><a class="nav-link colorNavegacion" href="/favoritos" title="Favoritos"><img src="/img/icons/favorito.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-2">Favoritos</p></a></li>
                    <li class="nav-item"><a class="nav-link colorNavegacion" href="/bolso" title="Tu Bolso"><img src="/img/icons/bag.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-2">Tu Bolso</p></a></li>
                    <li class="nav-item"><a class="nav-link colorNavegacion" href="/user" title="Usuario"><img src="/img/icons/user.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-2">Usuario</p></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>