<div class="container-fluid">

    <!--  -->
    <nav class="navbar navbar-expand-lg row">
        <!-- Logo -->
        <div class="col-3 col-md-3 col-lg-2 d-flex justify-content-center" id="logo">
            <a class="" href="/home"><img class="logo" src="img/LOGO2.jpg" alt="logo" ></a>
        </div>

        <div class="col-9 col-md-9 col-lg-10">
            <div class="row my-2">
                <!-- Buscador -->
                <div class="col col-lg-9">
                    <div class="input-group d-flex align-items-stretch" id="buscador">
                        <input type="text" class="input-group-prepend form-control border-dark" placeholder="Que quieres buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark m-0 p-0 pl-2 pr-2" type="button" id="button-addon2"><img src="/img/icons/search.svg" class="" alt=""></button>
                        </div>
                    </div>
                </div>
                <!-- Redes Sociales -->
                <div class="col-1 col-lg-3 d-flex justify-content-around">
                    <a class="d-none d-lg-flex p-1" href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook"><img src="/img/icons/facebook.svg" class="icono" alt=""></a>
                    <a class="d-none d-lg-flex p-1" href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram"><img src="/img/icons/instagram.svg" class="icono" alt=""></a>
                    <a class="d-none d-lg-flex p-1" href="https://twitter.com/" role="button" aria-pressed="true" title="Twitter"><img src="/img/icons/twitter.svg" class="icono" alt=""></a>
                    <a class="btn btn-sm align-self-center bg-darkorange text-light d-none d-lg-flex p-1" href="#" role="button">Contactanos</a>
                    <a class="d-sm-flex align-self-center d-lg-none" href="#" role="button" aria-pressed="true" title="Contactanos"><img src="/img/icons/contact.svg" class="icono" alt=""></a>
                </div>
            </div>

            <div class="row d-none d-md-flex my-2">
                <!-- Categorías -->
                <div class="dropdown col-lg-2 d-flex justify-content-around">
                    <a class="btn btn-dark d-none d-lg-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/productos">Mujer</a>
                        <a class="dropdown-item" href="/productos">Hombre</a>
                        <a class="dropdown-item" href="/productos">Nene</a>
                        <a class="dropdown-item" href="/productos">Accesorios</a>
                    </div>
                </div>

                <!-- Nuevos productos -->
                <ul class="nav nav-pills nav-fill d-flex justify-content-around align-items-center col col-lg-10 d-none d-lg-flex" >
                    <li class="nav-item marginli letrali"><a class="nav-link colorNavegacion p-0" href="/productos">Nuevo Mujeres</a></li>
                    <li class="nav-item marginli letrali"><a class="nav-link colorNavegacion p-0" href="/productos">Nuevo Hombres</a></li>
                    <li class="nav-item marginli letrali"><a class="nav-link colorNavegacion p-0" href="/productos">Nuevo Nenes</a></li>
                    <li class="nav-item marginli letrali"><a class="nav-link colorNavegacion p-0" href="/productos">Nuevo Accesorios</a></li>
                    <li class="nav-item marginli letrali"><a class="nav-link colorNavegacion p-0" href="/misProductos">Vender</a></li>
                </ul>
            </div>

            <!-- Opciones del usuario -->
            <div class="row my-0 my-lg-2 mx-0">
                <ul class="nav col col-lg-9 d-flex justify-content-around">
                    <li class="nav-item marginli"><a class="nav-link colorNavegacion p-1" href="/misCompras" title="Mis Compras"><img src="/img/icons/history.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-lg-2 d-none d-lg-inline"> Mis Compras</p></a></li>
                    <li class="nav-item marginli"><a class="nav-link colorNavegacion p-1" href="/favoritos" title="Favoritos"><img src="/img/icons/favorito.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-lg-2 d-none d-lg-inline">Favoritos</p></a></li>
                    <li class="nav-item marginli"><a class="nav-link colorNavegacion p-1" href="/bolso" title="Tu Bolso"><img src="/img/icons/bag.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-lg-2 d-none d-lg-inline">Tu Bolso</p></a></li>
                    <li class="nav-item marginli"><a class="nav-link colorNavegacion p-1" href="/user" title="Usuario"><img src="/img/icons/user.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-lg-2 d-none d-lg-inline">Usuario</p></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>