<div class="container-fluid">

    <!--  -->
    <nav class="navbar navbar-expand-lg row">
        <!-- Logo -->
        <div class="col-3 col-md-3 col-lg-2 d-flex justify-content-center" id="logo">
            <a class="" href="/home"><img class="logo" src="/img/logo.png" alt="logo" ></a>
        </div>

        <div class="col-9 col-md-9 col-lg-10">
            <div class="row my-2">
                <!-- Buscador -->
                <div class="col col-lg-9">
                    <div class="input-group d-flex align-items-stretch" id="buscador">
                        <input type="text" class="input-group-prepend form-control border-dark" placeholder="Que quieres buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark m-0 p-0 pl-2 pr-2" type="button" id="button-addon2"><img src="/img/icons/search.svg" class="" alt=""></button>
                        </div>
                    </div>
                </div>
                <!-- Redes Sociales -->
                <div class="col-1 col-lg-3 d-flex justify-content-around">
                    <a class="d-none d-lg-flex p-1" href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook"><img src="/img/icons/facebook.svg" class="icono" alt=""></a>
                    <a class="d-none d-lg-flex p-1" href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram"><img src="/img/icons/instagram.svg" class="icono" alt=""></a>
                    <a class="d-none d-lg-flex p-1" href="https://twitter.com/" role="button" aria-pressed="true" title="Twitter"><img src="/img/icons/twitter.svg" class="icono" alt=""></a>
                    
                    <!-- Button trigger modal -->
                    
                    <a class="btn btn-sm align-self-center bg-darkorange text-light d-none d-lg-flex p-1" data-toggle="modal" data-target="#contactModal" href="#" role="button">Contactanos</a>
                    <a class="d-sm-flex align-self-center d-lg-none" data-toggle="modal" data-target="#contactModal" href="#" role="button" aria-pressed="true" title="Contactanos"><img src="/img/icons/contact.svg" class="icono" alt=""></a>

                    <!-- Modal -->
                    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Contactanos</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row m-0">
                                        <h5 class="text-left">Nuestras redes sociales son:</h5>
                                        <div class="col-12 nav d-flex justify-content-around mb-4">
                                            <div class="nav-item"><img src="/img/icons/facebook.svg" class="icono2" alt=""><a class="p-2 text-reset font-italic" href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook">Facebook</a></div>
                                            <div class="nav-item"><img src="/img/icons/instagram.svg" class="icono2" alt=""><a class="p-2 font-italic text-reset" href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram">Instagram</a></div>
                                            <div class="nav-item"><img src="/img/icons/twitter.svg" class="icono2" alt=""><a class="p-2 font-italic text-reset" href="https://twitter.com/" role="button" aria-pressed="true" title="Twitter">Twitter</a></div>
                                        </div>
                                        <h5 class="text-left">También podés comunicarte al: </h5>
                                        <div class="col-12"><p>Teléfono: (011) 4321-9876</p></div>
                                        <div class="col-12 mb-4"><p>E-mail: contacto@compraonline.com</p></div>
                                        <div class="form-group row">
                                            <h5 class="col text-left">O completa el siguinte formulario y nos estaremos comunicando con vos:</h5>
                                            <div class="form-inline form-group col-12 d-flex">
                                                <label class="col-auto fuenteform" for="nombreComprador">Nombre Completo: </label>
                                                <input type="text" class="form-control fuenteform flex-fill" id="nombreComprador" placeholder="Nombre Completo">
                                            </div>
                                            <div class="form-inline form-group col-12 d-flex">
                                                <label class="col-auto fuenteform" for="emailComprador">E-mail: </label>
                                                <input type="email" class="form-control flex-fill fuenteform" id="emailComprador" placeholder="email@ejemplo.com">
                                            </div>
                                            <div class="form-inline form-group col-12 d-flex">
                                                <label class="col-auto fuenteform" for="telefonoComprador">Teléfono (Opcional): </label>
                                                <input type="tel" class="form-control fuenteform flex-fill" id="telefonoComprador" placeholder="11 1234-5678">
                                            </div>
                                            <div class="col-12 form-group d-flex">
                                                <label class="col-auto fuenteform" for="consultaComprador">Consulta:</label>
                                                <textarea class="col form-control flex-fill" id="consultaComprador" rows="3"></textarea>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-dark">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex my-lg-2 my-md-2">
                <!-- Categorías -->
                <div class="dropdown col-lg-2 col-md-2 col d-flex justify-content-around h-auto">
                    <a class="btn btn-dark dropdown-toggle h-auto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/productos">Mujer</a>
                        <a class="dropdown-item" href="/productos">Hombre</a>
                        <a class="dropdown-item" href="/productos">Nene</a>
                        <a class="dropdown-item" href="/productos">Accesorios</a>
                    </div>
                </div>

                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" title="¡Empezar!"><img src="/img/icons/on.svg" class="icono enlinea" alt=""><p class="text-center enlinea ml-lg-2 d-none d-lg-inline">¡Empezar!</p></a></button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">¡Empecemos!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                
                                <div class="modal-footer justify-content-center row-cols-1">
                                    <a type="button" class="btn bg-darkorange border-dark font-weight-bold" href="/altaUsuario">Registrarse</a>
                                    <p class="d-flex justify-content-center">ó</p>
                                    <a type="button" class="btn bg-darkorange border-dark font-weight-bold" href="/login">Iniciar Sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </nav>
</div>