


    <div class="container-fluid">

        <!-- Parte superior -->
        <div class="row">
            <div class="col-4" id="logo">
                    <div><a href="/home"><img class="logo" src="img/LOGO.jpg" alt="logo" ></a></div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5 menuNormal">
                
                    <p class="tamano"><a href="">Redes sociales</a></p>
                    <div class="input-group mb-3" id="buscador">
                        <input type="text" class="form-control" placeholder="Que quieres buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" type="button" id="button-addon2">Button</button>
                        </div>
                      </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                   
                <p class="tamano"><a href="">Telefono</a></p>
                        <ul class="padreflotador tamano">
                            <li class='flota tamano' style="margin-left: 0px"><a class="nav-link colorNavegacion" href="/misCompras">Mis Compras</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="/favoritos">Favoritos</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="/bolso">Tu Bolso</a></li>
                        </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-12">

                <div class="menuNormal">
                    <ul class="nav padreFlotador" >
                        <li class='flota tamano colorNavegacion'>
                            <select name="Categorias " class="select-css">
                                <option value="value0">Categorias</option> 
                                <option value="value1"><a class="nav-link colorNavegacion" href="/productos">Mujer</a></option> 
                                <option value="value2"><a class="nav-link colorNavegacion" href="/productos">Hombre</a></option>
                                <option value="value3"><a class="nav-link colorNavegacion" href="/productos">Nene</a></option>
                                <option value="value4"><a class="nav-link colorNavegacion" href="/productos">Accesorios</a></option>
                            </select>
                                </li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Mujeres</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Hombres</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Nenes</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Accesorios</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/cargaProducto">Vender</a></li>
                                <li class='flota tamano style="margin-left: 106px '><a class="nav-link colorNavegacion" href="/user">Usuario</a></li>
                    </ul>
                </div>
        
            </div>

        </div>