

    <div class="container-fluid">

        <!-- Parte superior -->
        <div class="row">
            <div class="col-auto" id="logo">
                    <div><a href="/home"><img class="logo" src="img/LOGO.jpg" alt="logo" ></a></div>
            </div>
            <div class="col-auto">

                <div class="col-auto d-flex flex-row m-2 justify-content-between align-items-center menuNormal">
                    <div class="input-group flex-fill">
                        <input type="text" class="form-control" placeholder="Que quieres buscar?">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button">Buscar</button>
                        </div>
                      </div>
                    <div class=" m-2">
                        <a href="https://www.facebook.com/"><img class="icono" src="img/icons/logo-facebook.svg"></a>
                    </div>
                    <div class=" m-2">
                        <a href="https://www.facebook.com/"><img class="icono" src="img/icons/logo-instagram.svg"></a>
                    </div>
                    <div class=" m-2">
                        <a href="https://www.facebook.com/"><img class="icono" src="img/icons/logo-twitter.svg"></a>
                    </div>
                      
                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                        <ul class="padreflotador tamano">
                            <li class='flota tamano' style="margin-left: 0px"><a class="nav-link colorNavegacion" href="#">Mis Compras</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="#">Favoritos</a></li>
                            <li class='flota tamano'><a class="nav-link colorNavegacion" href="/bolso">Tu Bolso</a></li>
                        </ul>
                </div>

                <div class="col-12">

                    <div class="menuNormal">
                      <ul class="nav padreFlotador" >
                        <li class='flota tamano colorNavegacion'>
                            <select name="Categorias " class="select-css">
                                <option value="value0">Categorias</option> 
                                <option value="value1">Mujer</option> 
                                <option value="value2">Hombre</option>
                                <option value="value3">Nene</option>
                                <option value="value4">Accesorios</option>
                            </select>
                                </li> 
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="#">Ofertas</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Mujeres</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Hombres</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Nenes</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/productos">Nuevo Accesorios</a></li>
                                <li class='flota tamano '><a class="nav-link colorNavegacion" href="/cargaProducto">Vender</a></li>
                                <li class='flota tamano style="margin-left: 106px '><a class="nav-link colorNavegacion" href="/user">Usuario</a></li>
                        </ul>
                    </div>
        
               </div>
            </div>

        </div>